

*~
*.iml
*.ipr
*.iws
*.pyc
.nb-gradle
.nb-gradle-properties
.swp
.DS_Store
\#*\#

docker-compose.override.yml

# Eclipse
.classpath
.project
.settings

bin/
obj/
.vs/
.vscode
.gradle/
.idea/
build/
node_modules/
coverage
.next/
out/
build
next-env.d.ts
vendor/
composer.lock
.venv
.dockerhub.env
.ghcr.env

src/shippingservice/target/
test/tracetesting/tracetesting-vars.yaml

# Ignore copied/generated protobuf files
/src/featureflagservice/proto/
/src/featureflagservice/src/ffs_demo_pb.erl
/src/featureflagservice/src/ffs_service_*.erl
/src/featureflagservice/src/oteldemo_*.erl
/src/frauddetectionservice/src/main/proto
/src/recommendationservice/demo_pb2*.py
/src/shippingservice/proto/
/src/accountingservice/genproto
